:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --logo-black-color: #000000;
  --footer-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-black {
  color: var(--logo-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

/* Site nav & Contacts */

.site-nav .link {
  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: inherit;
}

.site-nav .link,
.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--footer-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Button */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Section */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Features */

.features .title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Team */

.team .name {
  font-weight: 500;
  color: var(--secondary-text-color);
}

.team .name,
.team .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
}

.address {
  font-style: normal;
  color: var(--primary-white-color);
}

.address .link {
  color: var(--footer-link-color);
  text-decoration: none;
}

/* Стили для portfolio.html */
/* Filter */

.filter .button {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  background-color: var(--secondary-bg-color);
}

.filter .button:hover,
.filter .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Works */

.works .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.works .type {
  font-size: 16px;
  line-height: 1.88;
}
